
.sidebar{
    width: 200px;
    background: #400040;
    padding: 20px 0 0 0;
    position: relative;
    height: 100vmax;
    top: 0px;
    left: -15px;
    text-decoration: none;
}
.topbar-color {
    background-color: #400040;
    color: white;
    text-decoration-color: white;
}
.color-white {
    color: #FFFFFF;
    text-decoration-color: white;
}

.sidebar img {
    border-radius: 50px;
}

.sidebar h5 {
    color: white;
    margin-top: 10px;
}
.a-none {
    color: #FFFFFF;
    text-decoration: none;
}
.a-none:hover {
    color: #FFFFFF;
    text-decoration: none;
    text-decoration-color: #ffffff;
}

.menu-item {
    width: 200px;
    padding: 10px 0 10px 10px;
    transition: background-color .5s;
    cursor: pointer;
    color: #FFFFFF;
    text-decoration: none;
}

.menu-item:hover {
    background-color: #800080;
    color: white;
    font-weight: bold;
}

.item-container a {
    text-decoration: none;
    color: white;
}

.btn-purple, .btn-purple:hover, .btn-purple:active, .btn-purple:visited {
    background-color: #800080;
    color: white;
}
.text-purple {
    color: #800080 !important;
}
.image-cropper {
    width: 100px;
    height: 100px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}
.profile-pic {
    display: inline;
    margin: 0 auto;
    margin-left: -25%;
    height: 100%;
    width: auto;
}
